/* imports */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Montserrat:wght@100;300;800&display=swap');

/* --- Utils --- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
li{
    text-decoration: none;
}
a{
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a:hover{
    color: #333;
}
.container{
    width: 80%;
    margin: auto;
}
/* ----------- btn ----------- */
.buttons-box{
    display: flex;
    justify-content:flex-end !important;
    align-items: center !important;
}
.btn{
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
    padding: 15px;
    margin: 0 10px;
    border: #bdbdbd solid 1px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    border: #eaeaea solid 1px;
    background: #eaeaea;
}
/* .update{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
/* -----------tags------------ */
.tags{
    display: block;
    margin: 5px;
    padding: 5px;
    text-align: initial;
}
.tag{
    display: inline-block;
    background-color: #DADADA;
    padding: 10px;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 600;
}
/* icon */
/* --- _navbar.html --- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    margin-bottom: 10px;

}
.nav-link{
    list-style: none;

}
.nav-link li{
    display:inline-block;
    padding: 0 10px;
}
.create_blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8d8d8;
    padding: 15px;
    margin: 0 10px;
    border: #bdbdbd solid 1px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}
.create_blog:hover{
    background: #eaeaea;
}
.create-label{
    padding-right: 5px;
}
/* --- _footer.html --- */
footer{
    width: 100%;
    height: auto;
    padding:0;
    margin-top: 5px;
    color: #f3f3f3;
    text-align: center;
}
.footer-box{
    width: 100%;
    height: 150px;
    background:#333;
}
.footer-box p{
    height: auto;
    width: auto;
    padding: 30px;
}
/* Delete.html */
.delete-question-form{
    display: flex;
    justify-content:center;
    align-items: center;
}
/* ------------------ Blogs.html --------------------- */
.blogs-row{
    display: flex;
    justify-content: center;
}
.blog-box{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    margin: 0 30px;
}
.blog{
    display: inline-block;
    width: 350px;
    height: auto;
    padding: 5px;
    margin: 10px;
    border: #D8D8D8 solid 0.5px;
    border-radius: 15px;
    background: #EEEEEE;
    text-align: center; 
}
.blog a{
    padding: 5px;
    text-decoration: none;
}
.blog img{
    max-width: 50%;
    height: 30%;
    padding: 5px;
    border-radius: 15px;
}
.blog p{
    font-family: "Biryani", sans-serif;
    font-size: 16px;
    text-align: initial;
    padding: 2px;
    margin: 5px auto;
    width: 300px;
}

/* ------------------------ blog.html -------------------- */
.main-blog-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.blog-img{
    padding: 10px;
    margin-left: auto ;
    width: 800px;
}
.blog-img img{
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.content-box{
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; */
    width: 80%;
    margin: auto;
}
.content-box h1, h3{
    padding: 5px;
    margin: 5px;
}
.description{
    text-align: justify;
    padding: 10px;
    margin-top: 5px;
}
.comment{
    width: 80%;
    margin: 10px auto;
}
.box_of_comment{
    display: inline-block;
    margin: 20px auto;
}
.comment-submit{
    font-family: 'Montserrat', sans-serif;
    font-size: 16;
}
.comment p{
    padding: 10px;
    margin-bottom: 2px;
    
}